body:before{
    font-family: sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 12px;
    background-color: #eee;
    border: 1px solid #d6d6d6;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: 6px;
    padding: 2px 5px;
    z-index: 2;
}

/* For mobile */
@media (max-width: 640px){
    body:before {
        content: '@media (max-width: 640px) — Mobile';
    }
}

/* For tablet and phablet */
@media (min-width: 641px) and (max-width: 1024px){
    body:before {
        content: '@media (min-width: 641px) and (max-width: 1024px) — Tablet';
    }
}

/* For desktop and above */
@media (min-width: 1025px){
    body:before {
        content: '@media (min-width: 1025px) — Desktop';
    }
}