@import './fonts.css';
@import './normalize.css';
@import './skeleton.css';

.side-menu{
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #faebd7;
}

@media (max-width: 640px){
    .side-menu{
        position: fixed;
        width: 100%;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }
}

@media (min-width: 641px) and (max-width: 1024px){
    .side-menu{
        width: 205px
    }
}

.main-ico{
    position: absolute;
    top: 50px;
    right: 0;
    left: auto;
    padding-right: 30px;
    width: 80px;
    margin-right: -3px;
    transform: none;
}

@media (max-width: 640px){
    .main-ico{
        position: static;
        padding-right: 0;
        margin-bottom: -16px;
        width: 60px;
    }
}

.main-menu-wrapper{
    list-style: none;
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 640px){
    .main-menu-wrapper{
        transition: max-height .5s ease;
        max-height: 0;
        overflow: hidden;
    }

    .main-menu-wrapper.--open {
        max-height: 200px;
    }
}

.menu-button {
    display: block;
    border: 0;
    margin-bottom: 0;
    line-height: 50px;
    height: 50px;
    text-align: right;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.menu-button:hover{
    color: #000;
}

@media (max-width: 640px){
    .menu-button{
        text-align: left;
        padding: 0 20px;
    }
}

.main-menu-item {
    margin-bottom: 0;
    position: relative;
}

.main-menu-item:after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    background-image: linear-gradient(to left, #fff, transparent);
    width: 100%;
    bottom: 0;
}

@media (max-width: 640px){
    .main-menu-item:after {
        background-image: linear-gradient(to right, #fff, transparent);
        left: 19px;
        right: auto;
    }

    .main-menu-item:last-child:after{
        display: none;
    }
}

.main-outer-layout {
    /* margin: 0 50px; */
}

.outer-layout{
    height: 100vh;
    display: flex;
}

@media (max-width: 640px){
    .outer-layout{
        flex-direction: column;
    }
}

.main-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 300px;
    margin: 0 auto;
    display: block;
}

.main-container{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@media (max-width: 640px){
    .main-container{
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1024px){
    .main-container{
        width: calc(100% - 205px);
    }
}

.main-section{
    position: relative;
    min-height: 100%;
    padding:50px 50px 0;
    box-sizing: border-box;
    width: 100%;
    scroll-snap-align: start;
    padding-bottom: calc(50vh);
}

@media (max-width: 640px){
    .main-section{
        padding-top: 100px;
    }
}

.para {
    color: #4a4a4a;
}

.toggle-menu {
    display: none;
}

@media (max-width: 640px){
    .toggle-menu{
        display: block;
        position: absolute;
        left: 20px;
        top: 3px;
        padding: 0;
        margin: 0;
        border: none;
        width: 20px;
    }
}

.menu-icon{
    position: relative;
    height: 2px;
    background-color: #555;
    display: block;
    transition: all .5s ease;
}

.menu-icon:after, .menu-icon:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: inherit;
    transition: all .5s ease;
}

.menu-icon:after {
    bottom: -5px;
}

.menu-icon:before {
    top: -5px;
}

.--menu-open {
    background-color: transparent;
}

.--menu-open:after {
    transform: rotateZ(45deg);
    bottom: 0;
}

.--menu-open:after, .--menu-open:before {
    background-color: #555;
}

.--menu-open:before {
    transform: rotateZ(-45deg);
    top: 0;
}


.section-title {
    margin-top: 15px;
}

















































/* Start: Scroll down design */
.sd-arrow {
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 10px 0px 10px;
    border-color: #c0c0c0 transparent;
    border-style: solid;
    position: relative;
    margin: 0 auto;
    margin-top: -2px;
}

.sd-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: inherit;
    border-color: white transparent;
    border-style: solid;
    position: absolute;
}

.sd-arrow-one {
    z-index: 2;
    animation: 1.5s 0s blink infinite;
    margin-top: 10px;
}

.sd-arrow-one:after {
    left: -10px;
    top: -11px;
}

.sd-arrow-two {
    z-index: 1;
    border-width: 9px 9px 0px 9px;
    animation: 1.5s .5s blink infinite;
}

.sd-arrow-two:after {
    left: -9px;
    top: -10px;
}

.sd-arrow-three {
    z-index: 0;
    border-width: 8px 8px 0px 8px;
    animation: 1.5s 1s blink infinite;
}

.sd-arrow-three:after {
    left: -8px;
    top: -9px;
}

.scroll-down {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: calc(50% + 10%);
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: border-color .5s ease;
}

@media (max-width: 640px){
    .scroll-down {
        left: 50%;
    }
}

@media (min-width: 641px) and (max-width: 1024px){
    .scroll-down {
        left: calc(50% + 205px/2);
    }
}

@keyframes blink{
    0%{
        border-color: #c0c0c0 transparent;
    }

    50%{
        border-color: #000 transparent;   
    }

    100%{
        border-color: #c0c0c0 transparent;   
    }
}
/* End: Scroll down design */